BFC Website Chat Logger.json
{
  "name": "BFC Website Chat Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bfc-website-chat-log",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "680ea74f-5f12-4a67-8b5f-4838fa6c0431",
      "name": "BFC Chat Log Webhook",
      "webhookId": "a31313bb-19fe-4c0a-91fa-cd36fa266a3f"
    },
    {
      "parameters": {
        "jsCode": "// BFC Website Chat Logger — normalise incoming chat details\n// Receives POSTs from the BFC Public Chat Widget workflow for three AI statuses:\n//   trial_requested | issue_detected | unknown_question\n// Payload (built by the widget workflow's \"Build * Payload\" nodes), flexible field names:\n//   { conversation_id|session_id, status, data:{firstName,lastName,email}, history:[{role,content}], page_url, urgency, ... }\n\nconst inc = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst data = (inc.data && typeof inc.data === 'object') ? inc.data : {};\n\nfunction pick(...keys) {\n  for (const k of keys) {\n    const v = inc[k];\n    if (v !== undefined && v !== null && String(v).trim() !== '') return String(v).trim();\n  }\n  return '';\n}\n\n// Build a transcript from history[] (or messages[])\nlet transcript = pick('transcript', 'conversation', 'chat');\nconst hist = inc.history || inc.messages;\nif (!transcript && Array.isArray(hist)) {\n  transcript = hist\n    .map(m => `${m.role || m.sender || m.from || ''}: ${m.content || m.text || m.message || ''}`.trim())\n    .join('\\n');\n}\n\nconst status    = pick('status'); // trial_requested | issue_detected | unknown_question | in_progress\nconst isTrial   = status === 'trial_requested';\nconst isIssue   = status === 'issue_detected';\nconst isUnknown = status === 'unknown_question';\n\n// Contact details — prefer the structured data{} the AI returns\nlet name = pick('name', 'visitor_name', 'full_name', 'contact_name');\nif (!name) {\n  const fn = (data.firstName || '').trim();\n  const ln = (data.lastName || '').trim();\n  name = [fn, ln].filter(Boolean).join(' ');\n}\nlet email = pick('email', 'visitor_email', 'contact_email') || (data.email || '').trim();\nlet phone = pick('phone', 'visitor_phone', 'contact_phone', 'mobile') || (data.phone || '').trim();\n\n// Fallback: scrape contact details out of the transcript / raw payload\nconst blob = [transcript, JSON.stringify(inc)].join(' ');\nif (!email) { const m = blob.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/); if (m) email = m[0]; }\nif (!phone) { const m = blob.match(/(\\+?\\d[\\d ()\\-]{7,}\\d)/); if (m) phone = m[0].trim(); }\n\nconst topic = pick('topic', 'enquiry_topic', 'intent', 'subject', 'category')\n  || (isTrial ? 'Free trial request'\n     : isIssue ? 'Issue / complaint'\n     : isUnknown ? 'Unanswered question'\n     : '');\n\nconst summary = pick('summary', 'enquiry_summary', 'message', 'question', 'last_message')\n  || transcript.slice(0, 800);\n\nlet isLead = pick('is_lead', 'lead');\nif (!isLead) isLead = (isTrial || email || phone) ? 'Yes' : 'No';\n\nconst urgency = pick('urgency', 'priority')\n  || ((isTrial || isIssue) ? 'High' : 'Normal');\n\nconst nextAction = pick('recommended_next_action', 'next_action', 'action')\n  || (isTrial ? 'Contact visitor to book / confirm free trial'\n     : isIssue ? 'Review complaint and follow up with visitor'\n     : isUnknown ? 'Add an answer to the bot knowledge / system prompt'\n     : (email || phone) ? 'Follow up with visitor'\n     : 'Review chat — no contact details captured');\n\nreturn [{\n  json: {\n    conversation_id: pick('conversation_id', 'session_id', 'chat_id', 'id'),\n    visitor_name: name,\n    email,\n    phone,\n    enquiry_topic: topic,\n    enquiry_summary: summary,\n    is_lead: isLead,\n    urgency,\n    recommended_next_action: nextAction,\n    page_url: pick('page_url', 'url', 'page', 'source_url'),\n    chatbot_source: pick('chatbot', 'source', 'widget', 'bot_name') || 'BFC Website Chatbot',\n    bot_status: status,\n    status: 'New'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "fa038330-3128-4024-8c57-2282c8f97b08",
      "name": "Extract Chat Details"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QZeQ_g1SroWTN8qRE9O-lPz_0VFAB4i9KmCpE5KqX4M",
          "mode": "list",
          "cachedResultName": "BFC Echo Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZeQ_g1SroWTN8qRE9O-lPz_0VFAB4i9KmCpE5KqX4M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1686368022",
          "mode": "id",
          "cachedResultName": "Website Chat Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QZeQ_g1SroWTN8qRE9O-lPz_0VFAB4i9KmCpE5KqX4M/edit#gid=1686368022"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date / Time": "={{ $now }}",
            "Conversation ID": "={{ $json.conversation_id }}",
            "Visitor Name": "={{ $json.visitor_name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Enquiry Topic": "={{ $json.enquiry_topic }}",
            "Enquiry Summary": "={{ $json.enquiry_summary }}",
            "Is Lead": "={{ $json.is_lead }}",
            "Urgency": "={{ $json.urgency }}",
            "Recommended Next Action": "={{ $json.recommended_next_action }}",
            "Page URL": "={{ $json.page_url }}",
            "Chatbot / Source": "={{ $json.chatbot_source }}",
            "Bot Status": "={{ $json.bot_status }}",
            "Status": "={{ $json.status || \"New\" }}",
            "Logged By": "Website Chat Logger"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date / Time",
              "displayName": "Date / Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversation ID",
              "displayName": "Conversation ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Visitor Name",
              "displayName": "Visitor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enquiry Topic",
              "displayName": "Enquiry Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Enquiry Summary",
              "displayName": "Enquiry Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Is Lead",
              "displayName": "Is Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommended Next Action",
              "displayName": "Recommended Next Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Page URL",
              "displayName": "Page URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chatbot / Source",
              "displayName": "Chatbot / Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bot Status",
              "displayName": "Bot Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Logged By",
              "displayName": "Logged By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        440,
        0
      ],
      "id": "d2cbd7c1-84bd-4d20-9625-6767e1d66f3d",
      "name": "Append chat to sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CaoKD3EXIAUsqClz",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: \"Chat logged.\", conversation_id: $json.conversation_id || \"\", is_lead: $json.is_lead || \"\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "802583cd-1072-4826-8cd9-75fde77194f4",
      "name": "Respond Success"
    }
  ],
  "pinData": {
    "BFC Chat Log Webhook": [
      {
        "json": {
          "headers": {},
          "params": {},
          "query": {},
          "body": {
            "conversation_id": "web-2026-0001",
            "status": "trial_requested",
            "data": {
              "firstName": "Jordan",
              "lastName": "Example",
              "email": "jordan@example.com"
            },
            "history": [
              {
                "role": "user",
                "content": "Hi, can I do a free trial for kids muay thai?"
              },
              {
                "role": "assistant",
                "content": "Absolutely! Can I grab your name and email to book it?"
              },
              {
                "role": "user",
                "content": "Jordan Example, jordan@example.com"
              }
            ],
            "page_url": "https://bendigofightcentre.com/"
          }
        }
      }
    ]
  },
  "connections": {
    "BFC Chat Log Webhook": {
      "main": [
        [
          {
            "node": "Extract Chat Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Details": {
      "main": [
        [
          {
            "node": "Append chat to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append chat to sheet": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2561ec1e-3ab3-498b-964e-94220e4a2fd6",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "id": "taoaVYdeSWu2h9rW",
  "tags": [
    {
      "name": "BFC Helpers"
    }
  ]
}