BFC Website Chat Logger.json
{
  "name": "BFC Website Chat Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bfc-website-chat-log",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "fc80700b-71d3-4f55-aa29-807a97f8af37",
      "name": "Website Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "410e9b17-8d87-47c7-9952-bd00696a0f5b"
    },
    {
      "parameters": {
        "jsCode": "const inc = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst data = (inc.data && typeof inc.data === 'object') ? inc.data : {};\nfunction pick(...keys) {\n  for (const k of keys) { const v = inc[k]; if (v !== undefined && v !== null && String(v).trim() !== '') return String(v).trim(); }\n  return '';\n}\nlet transcript = pick('transcript', 'conversation', 'chat');\nconst hist = inc.history || inc.messages;\nif (!transcript && Array.isArray(hist)) { transcript = hist.map(m => (m.role||m.sender||'') + ': ' + (m.content||m.text||'')).join('\\n'); }\nconst status = pick('status');\nlet name = pick('name','visitor_name','full_name','contact_name');\nif (!name) { const fn = (data.firstName||'').trim(); const ln = (data.lastName||'').trim(); name = [fn,ln].filter(Boolean).join(' '); }\nconst email = pick('email') || (data.email||'').trim();\nconst phone = pick('phone','mobile','telephone') || (data.phone||data.mobile||'').trim();\nconst topic = pick('enquiry_topic','topic','subject','class_interest') || (data.classInterest||data.topic||'').trim();\nconst summary = pick('enquiry_summary','summary','notes','message') || transcript.slice(0,500);\nconst isLead = pick('is_lead','lead') || (email || phone || name ? 'Yes' : 'No');\nconst urgency = pick('urgency') || 'Normal';\nconst nextAction = pick('recommended_next_action','next_action','action') || (status === 'trial_requested' ? 'Book Trial' : 'Follow Up');\n\nreturn [{ json: {\n  'Date / Time': new Date().toISOString(),\n  'Conversation ID': pick('conversation_id','session_id','chat_id','id'),\n  'Visitor Name': name,\n  'Email': email,\n  'Phone': phone,\n  'Enquiry Topic': topic,\n  'Enquiry Summary': summary,\n  'Is Lead': isLead,\n  'Urgency': urgency,\n  'Recommended Next Action': nextAction,\n  'Page URL': pick('page_url','url','page','source_url'),\n  'Chatbot / Source': pick('chatbot','chatbot_source','source','widget','bot_name') || 'BFC Website Chatbot',\n  'Bot Status': status,\n  'Status': 'New',\n  'Logged By': 'Website Chat Logger'\n} }];"
      },
      "id": "26e2be49-ce53-477b-9fc4-94aee996022d",
      "name": "Extract Chat Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QZeQ_g1SroWTN8qRE9O-lPz_0VFAB4i9KmCpE5KqX4M",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "1686368022",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date / Time",
              "displayName": "Date / Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conversation ID",
              "displayName": "Conversation ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Visitor Name",
              "displayName": "Visitor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enquiry Topic",
              "displayName": "Enquiry Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enquiry Summary",
              "displayName": "Enquiry Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Is Lead",
              "displayName": "Is Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommended Next Action",
              "displayName": "Recommended Next Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Page URL",
              "displayName": "Page URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Chatbot / Source",
              "displayName": "Chatbot / Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bot Status",
              "displayName": "Bot Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Logged By",
              "displayName": "Logged By",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b1f0a39e-af8d-49f5-bc0d-d2492d0ac7e5",
      "name": "Append chat to sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LVvM4wJtmCnVORgk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, conversation_id: $json.conversation_id || \"\", is_lead: $json.is_lead || \"\" }) }}",
        "options": {}
      },
      "id": "5d35ebf7-2146-4662-862a-b3bf7fe773e7",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ]
    }
  ],
  "connections": {
    "Website Chat Webhook": {
      "main": [
        [
          {
            "node": "Extract Chat Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Details": {
      "main": [
        [
          {
            "node": "Append chat to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append chat to sheet": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "BFC Helpers"
    }
  ]
}